{% extends "layout.html" %}

{% block content%}
{%from "_macros.html" import render_field%}
<div class="">
    <div class="w3-responsive">
        <h2>Alumnos: IDGS</h2>
        <table class="w3-table-all w3-card-4 w3-large">

            <head>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Eliminar</th>
                    <th>Modificar</th>
                </tr>
            </head>

            <tbody>
                {%for alumno in alumnos%}
                <tr>
                    <td>{{alumno.nombre}}</td>
                    <td>{{alumno.apellidos}}</td>
                    <td>{{alumno.email}}</td>
                    

                    <td><a class="w3-button w3-red w3-btn w3-round-xxlarge" href="eliminar?id={{alumno.id}}">Eliminar</a></td>
                    <td><a class="w3-button w3-blue w3-btn w3-round-xxlarge" href="modificar?id={{alumno.id}}">Modificar</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}