{% extends "layout.html" %} {% block header %}
<header id="header" class="w3-black">
    <ul class="topnav w3-black">
        <li><a href="/" class="w3-black w3-hover-white active">Inicio</a></li>
        <li><a href="/ABCompleto" class="w3-black w3-hover-white">ABC</a></li>
    </ul>
    <a href="#" class="logo right"> {{name}} </a>
</header>


<script>
    const toggle = document.getElementById('toggle');
    const menu = document.getElementById('menu')
    const navbar = document.getElementById('navbar')
    toggle.onclick = function() {
        toggle.classList.toggle('activated')
        toggle.classList.replace('w3-black', 'w3-white');
        navbar.classList.toggle('activated')
        if (menu.textContent == 'menu') {
            menu.innerHTML = 'close';
        } else {
            menu.innerHTML = 'menu';
        }
    }
</script>
{% endblock %}