{% extends "layout.html" %} {% block content%} {%from "_macros.html" import render_field%}

<div id='formulario' class="container">
    <div class="">
        <form name="sent" action="/" id="form1" method="POST">
            <div class="row">
                <div class="w3-col m8 l9">
                    {{render_field(form.nombre,class='' )}}
                </div>
            </div>
            <div class="row">
                <div class="w3-col m8 l9">
                    {{render_field(form.apellidos,class='')}}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="w3-col m8 l9 s9">
                    {{render_field(form.email,class='')}}
                </div>
            </div>
            <br>
            <div class="row">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
                <input type="submit" id="reg-alum" name="registra" value="Registrar" /> </div>
        </form>
    </div>
</div>

{% endblock %}